<div class="wrapper">
  <app-sidebar></app-sidebar>
  <app-header></app-header>
  <div class="page-wrapper">
    <div class="page-content">
      <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Forms</div>
        <div class="ps-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
              <li class="breadcrumb-item">
                <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Sản phẩm</li>
            </ol>
          </nav>
        </div>
        <div class="ms-auto">
          <div class="btn-group">
            <button type="button" class="btn btn-primary">Settings</button>
            <button type="button" class="
                    btn btn-primary
                    split-bg-primary
                    dropdown-toggle dropdown-toggle-split
                  " data-bs-toggle="dropdown">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">
              <a class="dropdown-item" href="javascript:;">Action</a>
              <a class="dropdown-item" href="javascript:;">Another action</a>
              <a class="dropdown-item" href="javascript:;">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript:;">Separated link</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-2">
        <div class="col-md-12">
          <h6 class="mb-0 text-uppercase">Form with icons</h6>
          <hr />
          <div class="card border-top border-0 border-4 border-danger">
            <div class="card-body p-5">
              <div class="card-title d-flex align-items-center">
                <div><i class="bx bxs-user me-1 font-22 text-danger"></i></div>
                <h5 class="mb-0 text-danger">Quản lý sản phẩm</h5>
              </div>
              <hr />

              <div class="card-body" style="margin-top: -5%;">
                <!---------------------------------------------------------------- ------------------------------------------------------------------------------->
                <div class="tab-content pt-3">
                  <div class="tab-pane fade show active" id="primaryhome" role="tabpanel">
                    <br><br>
                    <form class="row g-3" [formGroup]="form">
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-xl-9 mx-auto">
                            <div class="card" style="height: 300px; border-radius: 3px; border: 2px dashed #A2B4CA;">
                              <div class="card-body" style="height: 70%;width: auto;">
                                <img height="100%" width="100%" [src]="uriImg">
                              </div>
                              <input type="file" #file accept=".jpg, .png, image/jpeg, image/png"
                                (change)="uploadFile($event)">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="col-md-12">
                          <label for="inputName" class="form-label">Tên Sản phẩm</label>
                          <div class="input-group">
                            <span class="input-group-text bg-transparent"></span>
                            <input formControlName="name" type="text" class="form-control border-start-0"
                              placeholder="Tên loại" />
                          </div>
                          <div *ngIf="
                          form.controls['name'].invalid &&
                          (form.controls['name'].dirty ||
                          form.controls['name'].touched || checkForm )
                        " class="alert alert-danger">
                          <span *ngIf="
                          form.controls['name'].errors &&
                          form.controls['name'].errors.required
                          ">Không được bỏ trống.</span>
                      </div>

                          <label class="form-label">Danh mục</label>
                          <select class="form-select" formControlName="idcategory">
                            <option [ngValue]="null" disabled>
                            </option>
                            <option *ngFor="let prf of listCategory" [ngValue]="prf.id">
                              {{ prf ? prf.name : 'Không có' }}
                            </option>
                          </select>
                          <div *ngIf="
                          form.controls['idcategory'].invalid &&
                          (form.controls['idcategory'].dirty ||
                          form.controls['idcategory'].touched || checkForm )
                        " class="alert alert-danger">
                          <span *ngIf="
                          form.controls['idcategory'].errors &&
                          form.controls['idcategory'].errors.required
                          ">Chưa chọn danh mục.</span>
                      </div>
                          <label for="inputName" class="form-label">Số lượng sản phẩm</label>
                          <div class="input-group">
                            <span class="input-group-text bg-transparent"></span>
                            <input formControlName="quantity" type="number" class="form-control border-start-0"
                              placeholder="Số lượng sản phẩm" />
                          </div>

                          <label for="inputName" class="form-label">Giá</label>
                          <div class="input-group">
                            <span class="input-group-text bg-transparent"></span>
                            <input formControlName="price" type="number" class="form-control border-start-0"
                              placeholder="Giá" />
                          </div>
                        </div>
                        <br>
                        <br>
                        <div class="row">

                          <label for="inputUsername" class="form-label">Hoạt động</label>
                          <div class="input-group">
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" formControlName="enable" name="isenable"
                                id="inlineRadio1" value="true">
                              <label class="form-check-label" for="inlineRadio1">Kích hoạt</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" formControlName="enable" name="isenable"
                                id="inlineRadio2" value="false" (checked)='true'>
                              <label class="form-check-label" for="inlineRadio2">Không Kích hoạt</label>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="col">
                        <button  [disabled]="editting?'disabled':''"  (click)="createProduct()" type="submit" class="btn btn-success px-5">
                          Thêm
                        </button>
                        <button   (click)="updateProduct()" [disabled]="!editting?'disabled':''" type="submit" class="btn btn-primary px-5" style="margin-left: 10px">
                          Sửa
                        </button>
                        <button (click)="deleteProduct()"  [disabled]="!editting?'disabled':''" type="submit" class="btn btn-danger px-5" style="margin-left: 10px">
                          Xóa
                        </button>
                        <button (click)="resetForm()" type="submit" class="btn btn-secondary px-5" style="margin-left: 10px">
                          Làm mới
                        </button>
                      </div>
                    </form><br>
                    <br><br>
                    <div class="row">
                      <div class="col-md-6">DATATABLE EXAMPLE</div>
                      <div class="col-md-6">
                        <div class="position-relative">
                          <input  [(ngModel)]="term" type="text" class="form-control ps-5 radius-30" placeholder="Search Order" #myInput>
                          <span class="position-absolute top-50 product-show translate-middle-y"><i
                              class="bx bx-search"></i></span>
                        </div>
                      </div>
                    </div>
                    <hr />
                    <div class="card">
                      <div class="card-body">
                        <div class="d-lg-flex align-items-center mb-4 gap-3">
                          <div class="position-relative">
                          </div>
                        </div>
                        <div class="table-responsive">
                          <table class="table mb-0">
                            <thead class="table-light">
                              <tr>
                                <th>Tên sản phẩm</th>
                                <th>Hình ảnh</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Trạng thái</th>
                                <th>Acctions</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of listProduct | paginate: { itemsPerPage: 5, currentPage: p } |filter:term">
                                <td>{{item.name}}</td>
                                <td> <img height="20%" width="20%" [src]="'http://localhost:8080/api/image/'+item.image" alt="Không tìm thấy hình ảnh sản phẩm"></td>
                                <td>{{item.price}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.enable?'Đang được bán':'Đã ẩn'}}</td>
                                <td>
                                  <i (click)="edit(item)" class="bx bx-edit-alt btn-success btn" style="margin-right: 10px;"></i>
                                  <i  (click)="deleteProductbyID(item.id)" class="bx bx-delete-alt btn-danger btn"><svg xmlns="http://www.w3.org/2000/svg"
                                      width="16" height="16" fill="currentColor" class="bi bi-trash-fill"
                                      viewBox="0 0 16 16">
                                      <path
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                    </svg></i>

                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!---------------------------------------------------------------- Kết thúc Category Parent ------------------------------------------------------------------------------->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <app-footer></app-footer>
</div>