<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">Synadmin</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-first-page'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class='bx bx-home'></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
            <ul>
                <li> <a routerLink="/account"><i class="bx bx-right-arrow-alt"></i>Quản lý tài Khoản</a>
                </li>
                <li> <a routerLink="/product"><i class="bx bx-right-arrow-alt"></i>Quản lý sản phẩm</a>
                </li>
                <li> <a routerLink="/category" ><i class="bx bx-right-arrow-alt" ></i >Quản lý danh mục</a>
                </li>
              
            </ul>
        </li>
      
    </ul>
    <!--end navigation-->
</div>
